footer {
  background-image: url(https://github.com/LuizZampier/Portif-lio-Dev/tree/main/assetsBackground_Contacts.png);
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 12.8rem;
  padding-bottom: 20rem;
}

footer #contact {
  display: flex;
  flex-direction: column;
  gap: .8rem;

  padding-bottom: 4.8rem;
}

footer div:nth-child(2) {
  gap: 1.6rem;
}

footer div a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-300);

  padding: 2rem;
  border-radius: .8rem;

  width: 40rem;
}

footer div a:hover {
  border: solid 1px var(--blue);

  p {
    color: var(--blue);
  }

  img {
    filter: invert(44%) sepia(72%) saturate(441%) hue-rotate(176deg) brightness(92%) contrast(90%);
  }
}

footer div a div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

footer div a div p {
  color: var(--gray-500);
}

footer div a img:nth-child(2) {
  max-width: 2rem;
  width: 100%;
  height: auto;
}
